.idea
venv
/tests/output/
/demos/output/
/tests/nextVer/output/
/docs/_build/doctrees/
/oceantracker.egg-info/
/tutorials_how_to/output/
/tests/misc/output/
/demos/root_output_dir/
/tests/dev_testing/root_output_dir/
/tests/unit_tests/output/
