.idea

/tests/output/
/dev/demos/output/
/tests/nextVer/output/
/dev/demos/root_output_dir/
/tests/dev_runs/output/
/tests/dev_runs/reference_case_output/

/dev/misc/output/
/dev/dev_testing/root_output_dir/
/dev/bug_hunting/

/docs/_build
/docs/info/how_to/
/docs/info/parameter_ref/

/tutorials_how_to/output/

/output/

/oceantracker.egg-info/
venv
dist/

*.code-workspace
*.py[cod]
*.nb[ic]
.pypirc
/tests/profiling/results/pyinstrument/
