.idea
venv
/tests/output/
/demos/output/
/tests/nextVer/output/
/docs/_build/doctrees/
/oceantracker.egg-info/
/tutorials_how_to/output/
/dev/misc/output/
/demos/root_output_dir/
/dev/dev_testing/root_output_dir/
/tests/unit_tests/output/
/output/
/tests/unit_tests/reference_case_output/
/dev/bug_hunting/Debugg_codes/root_output_dir/
